name = "FittingObjectiveFunctions"
uuid = "935aaf18-14c7-4785-87e9-38cf17c1e7c1"
authors = ["Dominik Tschimmel <dominik.tschimmel.contact@gmail.com> and contributors"]
version = "0.1.0"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
